{{ partial "head" . }}

{{ partial "nav" . }}

{{ partial "jumbotron" (dict "imageUrl" "/img/home/story-time.jpg" "title" "On the Hill Theatre Company Inc." "subtitle" "Theatre for Everyone") }}

{{ partial "short-text" (dict "heading" "Who are we?" "text" "On the Hill Theatre Compnay is a small community theatre company based at the Old Church on the Hill in Quarry Hill - Bendigo, Victoria. Emily Calder, the theatre company Director and Master Mind, started with a Junior Drama club in early 2017 and put on both Robin Hood and Peter Pan with great success.")}}

{{ partial "2-up" (dict "heading" "What we offer" "description" "On the Hill Theatre company offers both opportunities to perform on stage, and the opportunity to see some great community theatre. We have a Junior Drama club that operates out of the Old Church on the Hill in Quarry Hill - Bendigo" "buttonText" "More about our Drama Club" "buttonLink" "/drama-club"  ) }}

{{ partial "text-and-image" (dict "heading" "Upcoming Performances" "text" "Our Junior Drama Club is currently preparing for Alice in Wonderland in October 2018. Stay tuned for more information." "buttonText" "Read more" "buttonLink" "/alice-2018") }}

<!--{{ partial "blog" . }}

{{ partial "footer" . }}-->
